# terraform init -backend-config=backend.hcl
bucket                      = "yeet-tfstate"
key                         = "prod/terraform.tfstate"
region                      = "auto"
endpoints                   = { s3 = "https://<ACCOUNT_ID>.r2.cloudflarestorage.com" }
access_key                  = "<R2_ACCESS_KEY_ID>"
secret_key                  = "<R2_SECRET_ACCESS_KEY>"
skip_credentials_validation = true
skip_region_validation      = true
skip_requesting_account_id  = true
skip_metadata_api_check     = true
skip_s3_checksum            = true
use_path_style              = true
